*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
}
body{
    background: #F8FAFC;
    font-family: 'Inter', sans-serif;
    color: #002C5C;
    font-size: 16px;
    line-height: 24px;
    max-width: 1200px;
    padding: 45px;
    margin: auto;
}
.d-none{
    display: none;
}
h1, h2, h3, h4, h5, h6 {
    color: #002C5C;
    font-family: inter, sans-serif;
}
.color-gray{
    color: #64748B;
}
h2{
    font-size: 32px;
    font-weight: 700;
    line-height: 45px;
}
h3{
    font-size: 24px;
    font-weight: 700;
    line-height: 26px;
}
button, .btn {
    background: white;
    border: 1px solid;
    border-color: rgb(240, 240, 240);
    border-radius: 4px;
    cursor: pointer;
    padding: 8px 30px;
    transition: all 0.3s ease;
}
button:hover{
box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
button.active{
    background: #3B82F6;
    color: white;
}

.tracker-counter {
    margin-top: 20px;
    display: flex;
    gap: 20px;
    width: 100%;
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    margin-bottom: 30px;
}

.count-total {
    width: 100%;
    background: white;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
}
#js-count-interview {
    color: #10B981;
}
#js-count-rejected {
    color: #EF4444;
}
.toggle-btn {
    display: flex;
    gap: 16px;
    margin-top: 24px;
    margin-bottom: 18px;
}

.job-card .inner-job-post{
    background: white;
    padding: 24px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: relative;
    margin-bottom: 20px;
    transition: all 0.3s ease;
}
.job-card .inner-job-post:hover{
box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.job-info {
    font-size: 0.9em;
    display: flex;
    padding: 0;
    gap: 14px;
    align-items: center;
    margin: 8px 0;
}
@media screen and (max-width: 512px) {
    .job-info {
    flex-direction: column;
    align-items: flex-start;
    gap: 2px;
}
.info-separetor {
    display: none;
}
}
.info-separetor {
    height: 4px;
    width: 4px;
    background: gray;
    border-radius: 100%;
}
.applied-stutas {
    margin-bottom: 4px;
}
.applied-stutas span {
    padding: 6px 8px;
    text-transform: uppercase;
    border-radius: 4px;
}
.applied-stutas span.not-applied {
 background: #EEF4FF;
}
.applied-stutas span.interview {
    background: #028702;
    color: white;
}
.applied-stutas span.rejected {
    background: #EF4444;
    color: white;
}

.interview-btn {
    border-color: #10B981;
    color: #10B981;
    text-transform: uppercase;
    font-weight: 700;
}
.interview-btn:hover {
    background: #10B981;
    color: #fff;
}
.rejected-btn {
    border-color: #EF4444;
    color: #EF4444;
    text-transform: uppercase;
    font-weight: 700;
    margin-left: 4px;
}
.rejected-btn:hover {
    background: #EF4444;
    color: #fff;
}
.delete-job {
    position: absolute;
    right: 20px;
    top: 20px;
}
.js-delete-job {
    padding: 6px 8px;
    border-radius: 100px;
}
.js-delete-job:hover {
    background: #ffb7b7;
}
.inner-not-found {
    background: white;
    padding: 100px 24px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: relative;
    margin-bottom: 20px;
    align-items: center;
}
.hero-wappar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.interview{ display: none;}
.rejected{ display: none;}
.active-interview .not-applied{display: none;}
.active-interview .interview{display: unset;}
.active-interview .rejected{display: none;}
.rejected-job .not-applied{display: none;}
.rejected-job .interview{display: none;}
.rejected-job .rejected{display: unset;}